################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/P2P_1.00.04/bin
/P2P_1.00.04/obj
/P2P/bin/Debug
/P2P/obj/Debug
/P2P.DoMain/bin/Debug
/P2P.DoMain/obj/Debug
/P2P.Services/bin/Debug
/P2P.Services/obj/Debug
